# Compiled output
/dist
/dist-ssr
/build
/node_modules
/*/node_modules
/.temp
/.tmp
/*/temp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/test-results
/playwright-report
/cypress/videos/
/cypress/screenshots/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# TypeScript
*.tsbuildinfo

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Project specific
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/test-results
frontend/playwright-report

backend/node_modules
backend/dist
backend/build
backend/coverage
backend/uploads

missing/node_modules
missing/dist
missing/dist-ssr
missing/coverage

docs/node_modules
docs/.docusaurus
docs/build

devops/docker-compose.yaml

# SSL
*/ssl
ssl
